body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: #0d1117;
  color: #e6edf3;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* Layout */
.main {
  display: flex;
  gap: 10px;
}

/* Sidebar */
.sidebar {
  width: 30%;
  background: #161b22;
  padding: 10px;
  border-radius: 10px;
}

/* Editor */
.editor {
  width: 70%;
  background: #161b22;
  padding: 10px;
  border-radius: 10px;
}

/* Inputs */
input, textarea, select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

textarea {
  height: 250px;
}

/* Buttons */
button {
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.new-btn {
  width: 100%;
  background: #238636;
  color: white;
  font-weight: bold;
}

/* Notes */
#notesList {
  list-style: none;
  padding: 0;
}

#notesList li {
  padding: 8px;
  cursor: pointer;
}

#notesList li.active {
  background: #238636;
}
